

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <a class="btn btn-sm btn-primary" href="/student">Back</a>
            <br>
            <br>
            <div class="card shadow">
                <div class="card-header">
                    <h2>Create student Acount</h2>
                </div>
                <div class="card-body">

                    <form action="/student/create" method="POST" >

                        <div class="my-3">
                            <label for="">Name</label>
                            <input name="name" class="form-control" type="text">
                        </div>

                        <div class="my-3">
                            <label for="">Email</label>
                            <input name="email" class="form-control" type="text">
                        </div>
                        
                        <div class="my-3">
                            <label for="">Cell</label>
                            <input name="cell" class="form-control" type="text">
                        </div>
                        
                        <div class="my-3">
                            <label for="">Location</label>
                            <select class="form-control" name="location" id="">
                                <option value="">--select--</option>
                                <option value="Uttara">Uttara</option>
                                <option value="jatrabari">Jatrabari</option>
                                <option value="gulshan">Gulshan</option>
                                <option value="demra">Demra</option>
                            </select>
                        </div>
                        
                        <div class="my-3 ">
                            <label for="">Photo</label>
                            <img class="preview_photo" src="" alt="">
                            <br>

                            <label for="upload_stydent_photo"><img class="upload_photo" src="https://image.shutterstock.com/image-vector/photo-camera-icon-vector-illustration-260nw-616552292.jpg" alt=""></label>
                            <input name="student_photo" id="upload_stydent_photo" class="" type="file">
                        </div>

                        <div class="my-3">
                            <input value="Create Now" class="form-control btn btn-primary" type="submit">
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>